{% extends "base.html" %}
 
{% block title %}Hihand Reset Password{% endblock %}
 
{% block content %}
<div class="container py-4"><p><h3>Reset password</h3></p>
    <p>Hello <strong>{{ name }}</strong>, to reset your password please fill all significant fields below.</p>
    <form id="resetPasswordForm" action="{{ url }}" method="post">
      <div class="mb-3">
        <label class="form-label" for="password">New password</label>
        <input class="form-control" name="password" id="password" type="password" placeholder="Enter new password" />
        <small class="text-danger" id="passwordError"></small>
      </div>
  
      <div class="mb-3">
        <label class="form-label" for="confirm_password">Confirm password</label>
        <input class="form-control" name="confirm_password" id="confirm_password" type="password" placeholder="Enter confirm password" />
        <small class="text-danger" id="confirmPasswordError"></small>
      </div>
  
      <div class="d-grid">
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
      var passwordRegex = new RegExp("{{ password_regex }}");

      $("#resetPasswordForm").submit(function (event) {
          var password = $("#password").val();
          var confirmPassword = $("#confirm_password").val();
          var isValid = true;

          if (!passwordRegex.test(password)) {
              $("#passwordError").text("Invalid password format!");
              isValid = false;
          } else {
              $("#passwordError").text("");
          }

          if (password !== confirmPassword) {
              $("#confirmPasswordError").text("Confirm password does not match!");
              isValid = false;
          } else {
              $("#confirmPasswordError").text("");
          }

          if (!isValid) {
              event.preventDefault();
          }
      });
  });
</script>
{% endblock %}